body {
  background-color: rgb(255, 255, 255);
  background-size: contain;
  background-position-y: 100px;
  background-repeat: no-repeat;
  margin: 0%;
}

.imgBackground img {
  width: 105%;
  height: 100%;
  z-index: -10;
  position: absolute;
  margin: -9% 0% 0% -50%;
}

.container ul {
  list-style: none;
  align-items: center;
  padding-left: 0%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.bar {
  margin: 0;
  padding: 0;
}

.noopener {
  border: none;
  background: white;
}

.hamburger {
  background-color: white !important;
  border: none;
  width: fit-content;
  align-self: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  color: white;
  border-radius: 0;
  cursor: pointer;
}

.header-nav-mobile {
  position: fixed;
  top: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
  background-color: white;
  color: #3a4a42;
  border: 1px lightgrey solid;
  border-radius: 34px;
  z-index: 60;
}

.hidden {
  display: none;
}

.btn-close-nav {
  position: fixed;
  z-index: 65;
  display: block !important;
  text-align: right;
  width: 100%;
  border: none;
  background: white;
}

.cancel-cross {
  display: inline-block;
  margin: 6px auto;
}

.menu-link {
  display: block;
  text-decoration: none;
  margin: 1em 1em;
  color: #3a4a42;
  font-size: x-large;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.newListMobilVersion {
  list-style: none;
  padding-left: 5px;
}

.separatorMobilVersion {
  background-color: #172b4d;
  width: 55px;
  height: 6px;
  margin: none;
  border: none;
  border-radius: 10px;
  margin-top: auto;
}

.container h2 {
  font-style: normal;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 28px;
  text-align: center;
}

.textcenter {
  padding: 0% 24px;
}

.tittleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./header-illsutration-mobile@2x.svg");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  justify-content: center;
}

.tittleContainer p {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 28px;
}

.tittleContainer h1 {
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-family: 'Inter', sans-serif;
  line-height: 52px;
}

.mediaContainer {
  list-style: none;
  width: 80%;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.mediaIcon {
  transition: transform 0.2s;
}

.mediaIcon:hover {
  transform: scale(1.5);
}

.welcome {
  font-family: 'Inter', sans-serif;
  color: #172b4d;
  font-weight: 700;
  transition: transform 0.2s;
}

.welcome:hover {
  transform: scale(1.5);
}

.description {
  color: #36b37e;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.arrowDown {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 10%;
  margin-top: 64px;
}

.myRecentWork {
  margin: 22px;
  display: grid;
  gap: 12px;
  justify-items: center;
}

.cardGrid {
  display: grid;
  gap: 24px;
}

.titleWorkBlue {
  text-align: center;
  font-family: "inter", sans-serif;
  font-size: 2.5rem;
  color: #172b4d;
  font-weight: 700;
}

.titleWorkBlue:hover {
  transform: rotate(0.5rad);
}

.post {
  border: solid 1px #d0d9d4;
  background-color: #ebf0ee;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  height: 474px;
}

.cardInformation {
  border-radius: 10px;
  background-color: white;
  max-height: 50%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "inter", sans-serif;
  color: #3a4a42;
  width: -webkit-fill-available;
}

.cardInformation ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.myRecentWorkItem {
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 12px;
  width: max-content;
}

.buttongreen {
  background-color: #36b37e;
  width: 122px;
  height: 48px;
  border: none;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.06rem;
  font-weight: 500;
  line-height: 24px;
  color: white;
  text-align: center;
}

.buttongreen:hover {
  transform: scale(1.2);
}

.button:hover {
  transform: scale(1.2);
}

.containerAboutMe {
  background-image: url("./illustration\ 2-about\ me\ mobile.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding-bottom: 15px;
  color: #172b4d;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerAboutMe p {
  margin: 0% 5% 5% 5%;
  text-align: center;
  line-height: 32px;
  font-size: 1.25rem;
}

.buttonResume {
  background-color: #36b37e;
  size: 17px;
  width: 159px;
  height: 48px;
  border: none;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1.06rem;
  font-weight: 500;
  line-height: 24px;
  color: white;
  text-align: center;
}

.buttonResume:hover {
  transform: scale(1.3);
}

.aboutMe {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: auto;
  gap: 24px;
  justify-items: center;
  align-items: center;
  background-image: url("./images/illustration-\ about\ me-\ mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.aboutMeCard {
  padding-bottom: 11px;
  margin-bottom: 5%;
  border: solid 1px #d0d9d4;
  background-color: #ebf0ee;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 327px;
  width: 325px;
}

.aboutMeCard img {
  height: 50px;
  width: 50px;
  background-color: white;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 60px;
}

.aboutMeCard ul {
  list-style: none;
  padding: 0;
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.aboutMeListItem {
  background-color: white;
  color: #36b37e;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 16px;
}

.blueTitle {
  font-size: 2.5rem;
  font-weight: 700;
}

.green {
  color: #36b37e;
}

.skillsItem {
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.postOne {
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.cardGridOne {
  display: grid;
  gap: 24px;
}

.separator {
  background-color: #36b37f;
  width: 55px;
  height: 6px;
  margin: none;
  border: none;
  border-radius: 10px;
}

.svgImage {
  position: absolute;
  right: 0;
}

.svgImage:hover {
  transform: translate(-2.1rem, -2ex);
}

.subtitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "inter", sans-serif;
  color: #3a4a42;
}

.containerThirdTittle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ThirdTittle {
  align-items: center;
  text-align: center;
  margin: 5% 5% 5% 5%;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  width: 20.4rem;
  height: 22.6rem;
}

.finishForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin: 10% 5% 5% 5%;
}

.inputText {
  text-indent: 7px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
}

.inputEmail {
  text-indent: 7px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
}

.finalTextarea {
  text-indent: 7px;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.finalTextarea::-webkit-resizer {
  background-image: url("./textareaHandle.svg");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: center;
}

.finalButton {
  align-self: center;
  background-color: #36b37e;
  size: 17px;
  width: 129px;
  height: 48px;
  border: none;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: white;
  text-align: center;
}

.finalButton:hover {
  background-color: red;
  transition: background-color 0.2s;
}

.finalSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2%;
}

.finalContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  width: 80%;
  padding: 0;
  justify-content: space-evenly;
}

.finalList {
  list-style: none;
  display: list-item;
  align-items: baseline;
}

.finalEmail {
  color: #42526e;
  height: 189px;
  font-family: 'Inter', sans-serif;
  font-weight: 400px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 32px;
  margin-top: 0%;
}

.finalSeparador {
  width: 130px;
  height: 5px;
  background-color: #3a4a42;
  border: none;
  border-radius: 10px;
}

.containerDesktopUl {
  display: flex;
  justify-content: center;
}

.unlistbar {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 17rem;
  padding: 0;
}

/*
tablet
*/
@media (min-width: 768px) {
  .container,
  header {
    display: none;
  }

  .containerDesk {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .tittleContainer {
    margin-top: 0%;
    font-family: 'Inter', sans-serif;
    background-image: url("./imgdesktopversion/Header-llustration-desktop.svg");
  }

  .imgOneMovil {
    display: none;
  }

  .welcome {
    padding: 0 20px;
  }

  .tittleContainer p {
    padding: 0 70px;
    margin-top: 0;
  }

  .mediaContainer {
    width: 29%;
  }

  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .cardGridOne {
    grid-template-columns: repeat(3, 1fr);
  }

  .skillsItem {
    margin: 22px;
    display: grid;
    gap: 24px;
    justify-items: center;
  }

  .aboutMeCard {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 11px;
    margin-bottom: 5%;
    border: solid 1px #d0d9d4;
    background-color: #ebf0ee;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .containerThirdTittleForm {
    margin: 24px;
  }

  .formThirdTittle {
    display: grid;
    margin: 0 140px;
    margin: 5% 5% 5% 10%;
    grid-template-columns: 2fr 3fr;
  }

  .formThirdTittle > h2 {
    align-self: center;
    min-width: -webkit-fill-available;
    padding-top: 25%;
  }

  .inputText,
  .inputTextLast {
    box-sizing: border-box;
    width: 100%;
    grid-column: span 1;
    border: 1px solid #d0d9d4;
    text-indent: 6px;
  }

  .inputEmail {
    box-sizing: border-box;
    width: 100%;
    grid-column: span 2;
  }

  .finalTextarea {
    box-sizing: border-box;
    width: 100%;
    grid-column: span 2;
  }

  .containerThirdTittle {
    place-self: center;
    width: 400%;
    height: 200%;
    margin: 0%;
  }

  .finalButton {
    align-self: self-start;
  }

  .finishForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .finalEmail {
    display: none;
  }

  .finalContainer {
    width: 30%;
  }

  .finalSeparador {
    display: none;
  }

  .pilarRight {
    position: absolute;
    right: -21px;
    z-index: -1;
    width: 21%;
    height: 34%;
    align-self: center;
  }

  .cubeFinalLeft {
    position: absolute;
    left: 0;
    z-index: -2;
    width: 17%;
    align-self: center;
    height: 341px;
  }

}


@media (max-width: 767px) {
  .containerDesk {
    display: none;
  }
  .closePng{
    display:none;
  }
  .btn-close{
    height: 0px;
    margin: 0px;
    width: 0px;
    size: 0px;
    border: none;
    display: none;
  }

  .imgTwoDesk {
    display: none;
  }

  .inputTextLast {
    display: none;
  }

  .pilarRight {
    display: none;
  }

  .cubeFinalLeft {
    display: none;
  }

  .ThirdTittle {
    align-items: center;
    width: fit-content;
    line-height: 3;
  }
  .DesktopPopUp{
    display: none;
    z-index: 50;
      height: 40em;
      margin:5% 0% 0% -2%;
  }
}

.card-work-details-mobile {
  display: none;
  padding: 16px;
   font-size: 16px; 
   background: #fff; 
  border: 1px solid #dfe1e6; 
  box-sizing: border-box;
  border-radius: 16px; 
  position: fixed;
  top: 50%;
  left: 50%;
  transition: 2000ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
  height: 100%;
  width: 100%;
  z-index: 2;
  
}
.show{
  display: grid;
}

.btn-close-details {
  position: absolute;
  top: 4%;
  right: 5%;
  background: none;
  cursor: pointer;
  border: none;
}

.card-image-details-mobile {
  height: 20px;
  left: 16px;
}

.card-image-details-mobile > img {
  width: 100%;
  height: 219px;
  object-fit: cover;
}

.card-title-mobile {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #172b4d;
  text-align: left;
  line-height: 44px;
}

.cardTag > ul{
  background: lightgray;
  font-size: 12px;
  padding: 0.5em;
  margin: 0 0.5em;
  border-radius: 2px;
}

.cardTag {
  margin-right: -1px;
}

.myRecentWorks {
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 10px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
}

.informationCard {
  display: flex;
  font-family: "inter", sans-serif;
  gap: -15px;
  height: 48px;
}

.informationCard ul {
  display: flex;

  padding: 6px;
  gap: 8px;
  list-style: none;
  height: 32px;
  margin: 0% 0% 0% 0%;
}

.myRecentWorkPopUp {
  margin: 6px;
  display: grid;
  gap: 6px;
  justify-items: left;
  height: 201px;
}

.subTitlePopUp {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.7em;
  color: #172b4d;
  margin: 0em 0em 0em 0em;
}

.card-paragraph-mobile {
  color: #344563;
  font-family: Inter, sans-serif;
  line-height: 1.5em;
  margin: 0% 0% 0% 2%;
  font-weight: 400;
}

.card-button-mobile {
    display: flex;
    height: 59px;
}

.btn-card-details-mobile {
  display: flex;
}

.btn-card-details-mobile > img {
  margin-left: 0% 0% 0% 0%;
  padding: 5px;
  gap: 12px;
}


 @media (min-width: 768px){
  .btn-close{
    height: 0px;
    margin: 0px;
    width: 0px;
    size: 0px;
    border: none;
  }

  .myRecentWorkPopUp {
    margin: 6px;
    display: grid;
    gap: 6px;
    justify-items: left;
    height: 394px;
}

  .subtitle {
    margin: 0px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "inter", sans-serif;
    color: #3a4a42;
}

  .subTitlePopUp {
    grid-column: 1;
    grid-row: 1;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.7em;
    color: #172b4d;
    margin: 201px 0px 0px 0px;
  }

  .card-paragraph-mobile {
  color: #344563;
  font-family: Inter, sans-serif;
  line-height: 1.5em;
  margin: 0%;
  font-weight: 400;
  grid-row: 3;
  grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: large;
  }
  
  
  .card-button-mobile {
      display: flex;
      justify-self: end;
      height: 58px;
      grid-column: 2;
      grid-row: 1;
      margin: 219px 0px 0px -135px;
      gap: 23px;
  }
  
.card-image-details-mobile > img {
 display: none;;
}
.myRecentWorkItem {
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 0.99rem;
  line-height: 12px;
  width: 103px;
  margin: 0px 0px 0px 0px;
}
.closeButtonDesktop{
z-index: 50;
width: 5px 5px 5px 5px;
height: 29px;
width: 40px;
margin: 6px 0px 0px 722px;
}
.DesktopPopUp{
  z-index: 50;
  height: 40em;
  margin: 10% 0% 0% 28%;
}
.closePng{
  margin: 0px 0px 0px 700px;
}
.btn-close-details {
  position: absolute;
  background: none;
  border: none;
  position: absolute;
    top: 0%;
right: 29%;
}
} 
@media (min-width:769px){
  .btn-close{
    height: 0px;
    margin: 0px;
    width: 0px;
    size: 0px;
    border: none;
  }

  .DesktopPopUp {
    z-index: 50;
    height: 48em;
    margin: 3% 0% 0% 6%;
    /* width: 2005px; */
    height: 684px;
}
.closePng{
  margin: -5px 0px -32px 716px;
  height: 33px;
}

}
@media (min-width: 1020px){
/* cuando este en estte tamaño has */
.DesktopPopUp {
  z-index: 50;
  margin: 69px 0% 0% 28%;
  width: 1063px;
  height: 484px;
}

  .subTitlePopUp {
    grid-column: 1;
    grid-row: 1;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.7em;
    color: #172b4d;
    margin: 222px 0px 0px 0px;
}
.btn-close{
  height: 0px;
  margin: 0px;
  width: 0px;
  size: 0px;
  border: none;
}
.closePng {
  margin: -33px 0px -32px 986px;
  height: 50px;
}
}
@media (min-width: 1856px){
  .DesktopPopUp {
    z-index: 50;
    margin: 69px 0% 0% 27%;
    width: 1798px;
    height: 657px;
  }
  
    .subTitlePopUp {
      grid-column: 1;
      grid-row: 1;
      font-family: "inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 2.7em;
      color: #172b4d;
      margin: 222px 0px 0px 0px;
  }
  .btn-close{
    height: 0px;
    margin: 0px;
    width: 0px;
    size: 0px;
    border: none;
  }
  .closePng {
    margin: -33px 0px -32px 1738px;
    height: 50px;
  }
  .card-button-mobile {
    display: flex;
    justify-self: end;
    height: 58px;
    grid-column: 2;
    grid-row: 1;
    margin: 219px 38px 0px 261px;
    gap: 13px;
}
}